{{ define "show" }}
  {{ template "header" }}
    {{ template "menu"  }}

  <table class="table">
    <thead>
    <tr>
      <th>Student Id</th>
      <th>Student Name</th>
      <th>Location</th>
      <th>Edit</th>
          </tr>
    </thead>
    <tbody>

      <tr>
        <td data-label="Student ID">{{.Id }}</td>
        <td data-label="Student Name">{{ .Name }}</td>
        <td data-label="Location">{{ .City }}</td>

        <td data-label=""><a href="/edit?id={{ .Id }}" class="btn btn__active">Edit</a></td>

      </tr>

    </tbody>
  </table>

  {{ template "footer" }}
{{ end }}